body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b0d1ff;
    
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.login-box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ8qtnndNRL9JIuE_Hehkgx8SOPgIAnvRwfg&usqp=CAU");
}

h3 {
    font-size: 24px;
    color: #f3f7f8;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #666;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
